.Order {
  width: 90%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
}

.ingredients,
.customer {
  display: contents;
  padding: 20px 10px;
}

.ingredients span,
.customer span {
  color: blue;

  margin: 20px;
}
